version: 2
updates:
  - package-ecosystem: pip
    directory: backend/
    schedule:
      interval: monthly
  - package-ecosystem: docker
    directory: backend/
    schedule:
      interval: monthly
