**/*.git
**/*.env
**/*.sqlite3
**/.gitignore
**/.dockerignore
**/*docker-*.yml
**/Dockerfile
**/Dockerfile.*
**/*.md
**/__pycache__
**/temp
**/*_data.json
**/.*_cache
**/*.log
hidden/
docs/
demo/
.github/
.vscode/
common/**/test_*
common/tests/
backend/.kubernetes/
backend/backend/debug_settings.py
client/*/tests
client/**/test_*
client/*/pytest.ini
