multiset==3.2.0
boto3==1.40.6
Django==5.2.5
django-filter==25.1
django-cors-headers==4.7.0
django-admin-sortable2==2.2.8
djangorestframework==3.16.1
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.5.1
drf-spectacular[sidecar]==0.28.0
social-auth-app-django==5.5.1
discord-webhook==1.4.1
lark==1.2.2
