boto3==1.28.49
Django==4.2.5
django-filter==23.2
django-sortedm2m==3.1.1
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.3.0
social-auth-app-django==5.3.0
