{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% include 'admin/spellbook/includes/jquery_imports.html' %}
    {% include 'admin/spellbook/includes/card_info_imports.html' %}
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
        window.SelectBox.old_redisplay = window.SelectBox.redisplay;
        window.SelectBox.redisplay = function(id) {
            if (id.startsWith('id_uses_')) {
                const box = document.getElementById(id);
                const scroll_value_from_top = box.scrollTop;
                box.innerHTML = '';
                for (const node of SelectBox.cache[id]) {
                    if (node.displayed) {
                        const new_option = new Option(node.text, node.value, false, false);
                        // Shows a tooltip when hovering over the option
                        setup_tooltip(new_option.text, new_option);
                        box.appendChild(new_option);
                    }
                }
                box.scrollTop = scroll_value_from_top;
            } else {
                window.SelectBox.old_redisplay(id);
            }
        }
    </script>
{% endblock %}

{% block after-content %}
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">Variants</th>
            </tr>
        </thead>
        <tbody>
            {% for item in original.variants.all|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% if original.variants.count > suggested_count %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_changelist' %}">View more variants...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
