{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% include 'admin/spellbook/includes/jqueryui_imports.html' %}
    {% include 'admin/spellbook/includes/card_info_imports.html' %}
    {% include 'admin/spellbook/includes/card_state_imports.html' %}
    {% include 'admin/spellbook/includes/combo_description_imports.html' %}
    <script>
        'use strict';
        {
            django.jQuery.fn.djangoAdminFeatureRelatedSelect2 = function() {
                django.jQuery.each(this, function(i, element) {
                    const elementSelect = django.jQuery(element);
                    const featureSelect = elementSelect.closest('.form-row').find('.field-feature select');
                    featureSelect.on('select2:select', function() {
                        elementSelect.val(null).trigger('change');
                    });
                    elementSelect.select2({
                        ajax: {
                            data: (params) => {
                                return {
                                    term: params.term,
                                    page: params.page,
                                    app_label: element.dataset.appLabel,
                                    model_name: element.dataset.modelName,
                                    field_name: element.dataset.fieldName,
                                    feature_id: featureSelect.val(),
                                };
                            }
                        }
                    });
                });
                return this;
            };

            django.jQuery(function() {
                // Initialize all autocomplete widgets except the one in the template
                // form used when a new formset is added.
                django.jQuery('.admin-autocomplete[data-field-name=card]').not('[name*=__prefix__]').select2CardsPreview();

                django.jQuery('.related-widget-wrapper[data-model-ref=featureattribute] .admin-autocomplete[data-model-name=featureneededincombo]').not('[name*=__prefix__]').djangoAdminFeatureRelatedSelect2();
            });

            document.addEventListener('formset:added', (event) => {
                django.jQuery(event.target).find('.admin-autocomplete[data-field-name=card]').select2CardsPreview();

                django.jQuery(event.target).find('.related-widget-wrapper[data-model-ref=featureattribute] .admin-autocomplete[data-model-name=featureneededincombo]').djangoAdminFeatureRelatedSelect2();
            });
        }
    </script>
{% endblock %}


<!-- To put inlines at the top: -->
{% block field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block inline_field_sets %}
    <!-- Emptied -->
{% endblock %}

{% block object-tools-items %}
<li>
    <form method="post" action="{% url 'admin:spellbook_combo_generate_variants' original.id %}" class="inline" novalidate>
        {% csrf_token %}
        <button type="submit" class="default" onclick="this.classList.toggle('button--loading'); this.disabled=true; this.parentNode.submit();">
            <span class="button__text">Generate variants for this combo</span>
        </button>
    </form>
</li>
{{ block.super }}
{% endblock %}

{% block after-content %}
    <table>
        <thead>
            <tr>
                <th class="column-variant">Variants of this combo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in adminform.form.variants_of_this|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_change' item.id %}">[{{ item.get_status_display }}] {{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% with variant_count=adminform.form.variants_of_this.count %}
            {% if variant_count > 0 %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_changelist' %}?of__id={{ original.id }}">View all {{ variant_count }} variants of this combo...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th class="column-variant">Variants that include this combo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in adminform.form.variants_that_include_this|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_change' item.id %}">[{{ item.get_status_display }}] {{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% with variant_count=adminform.form.variants_that_include_this.count %}
            {% if variant_count > 0 %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_changelist' %}?includes__id={{ original.id }}">View all {{ variant_count }} variants that include this combo...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
        </tbody>
    </table>
{% endblock %}
