{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/iso_to_local_time.js' %}" type="text/javascript"></script>
{% endblock %}

{% block after-content %}
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">New variants</th>
            </tr>
        </thead>
        <tbody>
            {% for item in original.variants.all|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% with variants_count=original.variants.count %}
            {% if variants_count > suggested_count %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_changelist' %}?generated_by__id={{ original.id }}">View all {{ variants_count }} variants created by this job...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
        </tbody>
    </table>
{% endblock %}
