{% extends "admin/change_form.html" %}

{% block after-content %}
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">New variants</th>
            </tr>
        </thead>
        <tbody>
            {% for item in original.variants.all|slice:':10' %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% if original.variants.count > 10 %}
                <tr class="form-row">
                    <td class="field-variant">
                        <p>
                            <a href="{% url 'admin:spellbook_variant_changelist' %}">View more variants...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
