apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../prod
namespace: spellbook-dev
images:
  - name: 083767677168.dkr.ecr.us-east-2.amazonaws.com/spellbook-prod-ecr
    newName: 083767677168.dkr.ecr.us-east-2.amazonaws.com/spellbook-dev-ecr
    newTag: latest
patches:
  - patch: |-
      - op: replace
        path: "/spec/template/spec/containers/0/resources/requests/cpu"
        value: "100m"
    target:
      kind: Deployment
      name: spellbook-api

  - patch: |-
      - op: replace
        path: "/spec/template/spec/containers/0/resources/requests/memory"
        value: "256M"
    target:
      kind: Deployment
      name: spellbook-api

  - patch: |-
      - op: replace
        path: "/metadata/annotations/alb.ingress.kubernetes.io~1tags"
        value: "project=commanderspellbook,environment=dev"
    target:
      kind: Ingress
      name: spellbook-ingress
  - patch: |-
      - op: replace
        path: "/spec/rules/0/host"
        value: dev-backend.commanderspellbook.com
    target:
      kind: Ingress
      name: spellbook-ingress
  - patch: |-
      - op: replace
        path: "/spec/rules/1/host"
        value: dev.commanderspellbook.com
    target:
      kind: Ingress
      name: spellbook-ingress
