{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% include 'admin/spellbook/includes/jquery_imports.html' %}
    {% include 'admin/spellbook/includes/card_info_imports.html' %}
    <style>
        #card-images>img {
            max-height: 10cm;
        }
    </style>
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
        // trigger on page load if card is already selected
        django.jQuery(function() {
            if (document.getElementById('id_oracle_id').value) {
                card_info.update_card_oracle_image(
                    document.getElementById('id_oracle_id').value,
                    document.getElementById('card-images'));
            }
        });

        $('#id_name').autocomplete({
            source: function(request, response) {
                django.jQuery.ajax({
                    url: 'https://api.scryfall.com/cards/autocomplete',
                    dataType: 'json',
                    data: {
                        q: request.term,
                        format: 'json'
                    },
                    success: function(data) {
                        response(data.data);
                    }
                });
            },
            minLength: 3,
            select: function(event, ui) {
                let card = ui.item.value;
                card_info
                    .fetch_card_info(card)
                    .then(function(data) {
                        let oracle_id = data.oracle_id;
                        django.jQuery('#id_oracle_id').val(oracle_id);

                        let color_identity = new Set(Array.from(data.color_identity).map(i => i.toUpperCase()));
                        let result = '';
                        for (const c of 'WUBRG') {
                            if (color_identity.has(c)) {
                                result += c;
                            }
                        }
                        django.jQuery('#id_identity').val(result);
                        card_info.update_card_oracle_image(
                            document.getElementById('id_oracle_id').value,
                            document.getElementById('card-images'));
                    });
            },
            open: function() {},
            close: function() {},
        })
        .autocomplete('instance')
        ._renderItem = function(ul, item) {
            const newItem = $('<li>')
                .attr('data-value', item.value)
                .append(item.label)
                .appendTo(ul);
            card_info.setup_tooltip(item.value, newItem);
            return newItem;
        };
    </script>
{% endblock %}

{% block after-content %}
    {{ block.super }}
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">Card image from Scryfall</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="card-images">
                    <img src="{% static 'spellbook/images/card-back.png' %}" alt="Card image is not available yet">
                </td>
            </tr>
        </tbody>
    </table>
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">Used in combos</th>
            </tr>
        </thead>
        <tbody>
            {% for item in original.used_in_combos.all|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            <a href="{% url 'admin:spellbook_combo_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% if original.used_in_combos.count > suggested_count %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            <a href="{% url 'admin:spellbook_combo_changelist' %}">View more combos...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
