{% extends "admin/change_form.html" %}

{% block after-content %}
    {{ block.super }}
    <table class="after-content">
        <thead>
            <tr>
                <th class="column-variant">Used in combos</th>
            </tr>
        </thead>
        <tbody>
            {% for item in original.required_by_combos.all|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            <a href="{% url 'admin:spellbook_combo_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% if original.required_by_combos.count > suggested_count %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            <a href="{% url 'admin:spellbook_combo_changelist' %}">View more combos...</a>
                        </p>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
