{% extends "rest_framework/base.html" %}

{% load static %}

{% block title %}{% if name %}{{ name }} – {% endif %}Commander Spellbook {{ spellbook_version }}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'spellbook/favicon.ico' %}">
{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href="https://www.commanderspellbook.com/">
        Commander Spellbook {{ spellbook_version }}
    </a>
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'admin:index' %}">Editor Dashboard</a></li>
    {% else %}
        {% if 'discord' in backends.backends %}
            <li><a href="{% url 'social:begin' 'discord' %}?next={{ request.path }}">Discord Login</a></li>
        {% endif %}
        <li><a href="{% url 'admin:login' %}">Admin Login</a></li>
    {% endif %}
{% endblock %}
