{% extends "admin/change_form.html" %}
{% load static %}

{% block after-content %}
    <table>
        <thead>
            <tr>
                <th class="column-card">Used in cards</th>
            </tr>
        </thead>
        <tbody>
            {% for item in adminform.form.used_in_cards|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-card">
                        <p>
                            <a href="{% url 'admin:spellbook_card_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% with card_count=adminform.form.used_in_cards.count %}
            {% if card_count > 0 %}
                <tr class="form-row">
                    <td class="field-card">
                        <p>
                            In total there are {{ card_count }} cards where {{ original.name }} is used.
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th class="column-combo">Used in combos</th>
            </tr>
        </thead>
        <tbody>
            {% for item in adminform.form.used_in_combos|slice:suggested_slice %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            <a href="{% url 'admin:spellbook_combo_change' item.id %}">{{ item }}</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            {% with combo_count=adminform.form.used_in_combos.count %}
            {% if combo_count > 0 %}
                <tr class="form-row">
                    <td class="field-combo">
                        <p>
                            In total there are {{ combo_count }} combos where {{ original.name }} is used.
                        </p>
                    </td>
                </tr>
            {% endif %}
            {% endwith %}
        </tbody>
    </table>
{% endblock %}
