{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/x-icon" href="{% static 'spellbook/favicon.ico' %}">
    <style>
        .after-content, .after-content table {
            float: left;
            width: 100%;
        }
        .after-content table {
            margin-bottom: 1em;
        }

        /* Default Django admin styles overrides/patches */
        .inline-related fieldset {
            width: fit-content;
            min-width: 100%;
        }

        div.inline-related {
            overflow-x: auto;
        }
    </style>
{% endblock %}

{% block userlinks %}
    <a href="https://github.com/ldeluigi/commander-spellbook-backend/issues" target="_blank">Feedback</a> /
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="after-content">
        {% block after-content %}
        {% endblock %}
    </div>
{% endblock %}
