{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% include 'admin/spellbook/includes/jqueryui_imports.html' %}
    {% include 'admin/spellbook/includes/card_info_imports.html' %}
    {% include 'admin/spellbook/includes/card_state_imports.html' %}
    {% include 'admin/spellbook/includes/combo_description_imports.html' %}
    <script>
        'use strict';
        {
            django.jQuery.fn.djangoAdminSelectCards = function() {
                django.jQuery.each(this, function(i, element) {
                    if (element.id.includes('__prefix__')) {
                        return;
                    }
                    const autocomplete = django.jQuery(element).autocomplete({
                        source: function(request, response) {
                            django.jQuery.ajax({
                                url: 'https://api.scryfall.com/cards/autocomplete',
                                dataType: 'json',
                                data: {
                                    q: request.term,
                                    format: 'json'
                                },
                                success: function(data) {
                                    response(data.data);
                                }
                            });
                        },
                        minLength: 3,
                        open: function() {},
                        close: function() {},
                    })
                    .autocomplete('instance');
                    if (autocomplete) {
                        autocomplete._renderItem = function(ul, item) {
                            const newItem = django.jQuery('<li>')
                                .attr('data-value', item.value)
                                .append(item.label)
                                .appendTo(ul);
                            card_info.setup_tooltip(item.value, newItem);
                            return newItem;
                        };
                    }
                });
                return this;
            };

            django.jQuery(function() {
                // Initialize all autocomplete widgets except the one in the template
                // form used when a new formset is added.
                django.jQuery('td.field-card>input[type=text]').djangoAdminSelectCards();
            });

            document.addEventListener('formset:added', (event) => {
                django.jQuery(event.target).find('td.field-card>input[type=text]').djangoAdminSelectCards();
            });
        }
    </script>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:spellbook_combo_add' %}?from_variant_suggestion={{ original.id }}" target="_blank">Accept as new combo</a>
    </li>
    {{ block.super }}
{% endblock %}

<!-- To put inlines at the top: -->
{% block field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block inline_field_sets %}
    <!-- Emptied -->
{% endblock %}

