.after-content, .after-content table {
    float: left;
    width: 100%;
}
.after-content table {
    margin-bottom: 1em;
}

/* Default Django admin styles overrides/patches */
.inline-related fieldset {
    width: fit-content;
    min-width: 100%;
}

div.inline-related {
    overflow-x: auto;
    overflow-y: hidden;
}

/* POST form buttons in object tools */
.object-tools form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: var(--object-tools-bg);
    border-radius: 15px;
    border-width: 0px;
}
.object-tools * {
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    vertical-align: top;
}
.object-tools form>* {
    border-radius: inherit;
    background: var(--object-tools-bg);
    border-width: 0px;
    margin: 0;
    padding-top: 4px;
}
.object-tools form button {
    cursor: pointer;
    padding: 6px 12px;
}
.object-tools form button:hover {
    background: var(--object-tools-hover-bg);
}

.button__text {
    transition: all 0.2s;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 2px;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

div.flex-container.form-multiline {
    column-gap: 2em;
}
